.interface {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

h1 {
  color: #333;
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 12px;
  background-color: black;
}

li:hover{
  background-color: white;
}

a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
  font-weight: bold;
}

a:hover {
  color: #0056b3;
}

.interface:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 8px;
  background-color: #007bff;
  border-radius: 8px 8px 0 0;
}
