* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container > h1 {
  margin: 15px 0;
}

.container {
  height: 97vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-result {
  width: 35em;
  height: 5em;
  border-radius: 15px 15px 0px 0px;
  background-color: whitesmoke;
  box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0px 20px;
}

.container-flights {
  width: 35em;
  height: max-content;
  background-color: whitesmoke;
  border-radius: 0 0 15px 15px;
  padding: 10px 0px;
}

.container-flights > h3 {
  margin: 5px 25px;
}

.container-flights > div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 20px;
}

.section-origin,
.section-destination {
  flex-grow: 2;
}

.section-price {
  flex-grow: 1;
  text-align: end;
}

.section-origin {
  text-align: start;
}

.section-destination {
  text-align: end;
}
